.home-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}

.hero-img {
    width: auto;
    max-width: 300px;
height: 300px;
    border-radius: 20px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.25);
}

.hero-text h2 {
    font-family: Pattaya, sans-serif;
    font-size: 28px;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 16px;
    line-height: 1.7;
}

.hero-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #f09191;
    color: #111;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 800px) {
    .home-hero {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.quick-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.quick-card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 5px 12px rgba(0,0,0,0.15);
}
