
header{
background-color:black;
color:white;
text-align:center;
padding:20px;
}

nav{
line-height:30px;
background-color:#eeeeee;
width:100%;
float:left;
padding:20px;
}

nav hover{
line-height:30px;
background-color:#eeeeee;
width:100%;
float:left;
padding:20px;
}

section{
width:1000px;
float:left;
padding:10px;
}

footer{
background-color:black;
color:white;
clear:both;
text-align:center;
padding:5px;
font:courier;
}

body{
background-color:#ff6666;
color:black;
}